.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Убираем границы и фон у инпута */
.input-no-border {
  border: none;
  padding: 0;
  width: 100%;
  background: transparent;
  outline: none;
  text-overflow: ellipsis; /* Обрезка текста многоточием */
  white-space: nowrap; /* Запрет на перенос текста */
  overflow: hidden; /* Скрытие выходящего за пределы текста */
}

/* Увеличиваем ширину Input для лучшей читаемости */
.input-no-border:focus {
  outline: none; /* Убираем обводку при фокусе */
}

/* Увеличиваем ширину Input для колонок "Марка" и "Гос номер" */
.input-expanded {
  border: none;
  padding: 0;
  width: 200%; /* Увеличиваем ширину в два раза */
  background: transparent;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.input-expanded:focus {
  outline: none; /* Убираем обводку при фокусе */
}